/* Styling for the cart page */
:root {
  --16px: 1rem;
  --222222: #222222;
  --9B9B9B: #9B9B9B;
  --Yantramanav: 'Yantramanav', sans-serif;
}

#cartSection {
  display: flex;
  flex-direction: column;
}

#cartProductDiv::-webkit-scrollbar {
  display: none;
}

.whiteBackSections {
  background-color: #FFFFFF;
  height: 100vh;
  position: fixed;
  width: 100%;
}

#cartProductDiv {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#cartProductInnerDiv {
  display: flex;
  flex-direction: column;
}

.cartRemove {
  position: absolute;
  right: 0;
  color: var(--222222);
  cursor: pointer;
}

.cartProductMain {
  display: flex;
  position: relative;
}

.cartDetailsSection {
  display: flex;
  flex-direction: column;
}

.cartProductText {
  font-family: var(--Yantramanav);
  color: var(--222222);
}

.cartProductName {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--222222);
  font-family: var(--Yantramanav);
  cursor: pointer;
}

.cartDefaultText {
  font-family: var(--Yantramanav);
  color: var(--222222);
}

#cartProductInnerDiv {
  flex: 1;
}

#cartTotalPriceMain {
  border-top: 1px solid var(--9B9B9B);
}

#totalPriceDiv {
  display: flex;
  justify-content: space-between;
}

.totalPrice {
  font-family: var(--Yantramanav);
  color: var(--222222);
}

#cartButtonsDiv {
  display: flex;
  flex-direction: column;
}

.cartButtons {
  border: 1px solid var(--222222);
}

.cartEnds {
  display: flex;
  justify-content: space-between;
}






.cart-info-div {
  display: flex;
  flex-direction: column;
}

.cart-info-text {
  font-family: var(--Cormorant);
  color: var(--1B1A1A);
}

.cartQuantityDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-update-btn {
  margin: 2rem 0;
}

#cartTotalText {
  font-family: var(-Cormorant);
  color: var(--1B1A1A);
}

.cartPriceValueDiv {
  display: flex;
  border-bottom: 1px solid var(--F3F2ED);
  padding: 2rem 0;
}

.cartPriceText {
  color: var(--222222);
  font-family: var(--Roboto);
}

#cartShippingAddressDiv {
  border-bottom: 1px solid var(--F3F2ED);
  padding: 2rem 0;
}

#cartShippingDiv {
  display: flex;
}

#cartShippingText {
  font-family: var(--Roboto);
  color: var(--282828);
}

#cartShippingSpan {
  font-weight: 600;
  text-transform: uppercase;
}

#cartAddressDiv {
  display: flex;
  flex-direction: column;
}

.cartAddressInputs {
  border: 1px solid var(--222222);
  box-shadow: 0 0 0px 1000px white inset;
}

.cart-address-btn {
  width: fit-content;
}

.cartTotalValue {
  font-weight: 600;
}









#checkoutLoginDiv {
  border: 1px solid var(--F3F2ED);
  display: flex;
}

.checkoutLoginTexts {
  font-family: var(--Cormorant);
  color: var(--1B1A1A);
}

.checkoutLoginTexts:nth-child(2) {
  color: var(--222222);
  cursor: pointer;
}

.billOrderText {
  font-family: var(--Cormorant);
  color: var(--1B1A1A);
}

.billForm {
  display: flex;
  flex-direction: column;
}

.billLabelInputDiv {
  display: flex;
  flex-direction: column;
}

.billLabel {
  font-family: var(--Roboto);
  color: var(--1B1A1A);
}

.billInput {
  border: 1px solid var(--222222);
  color: var(--222222);
  font-family: var(--Roboto);
  outline: none;
  box-shadow: 0 0 0px 1000px white inset;
}

#billOtherMain {
  gap: 0 0.75rem;
  display: flex;
  align-items: center;
}

#billOtherCheckbox {
  accent-color: var(--222222);
}

#billOtherText {
  font-family: var(--Cormorant);
  color: var(--222222);
}

#billOptTextDiv {
  display: flex;
  flex-direction: column;
}

#billOptText {
  font-family: var(--Roboto);
  color: var(--1B1A1A);
}

#billOptTextArea {
  border: 1px solid var(--222222);
  font-family: var(--Roboto);
  color: var(--222222);
  outline: none;
}

#orderOptionDiv {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--F3F2ED);
}

.orderOptionText {
  color: var(--1B1A1A);
  font-family: var(--Roboto);
}

#orderProductMain {
  display: flex;
  flex-direction: column;
}

.orderProductPriceDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--F3F2ED);
}

.orderProductNameAmt {
  text-transform: capitalize;
  color: var(--1B1A1A);
  font-family: var(--Roboto);
}

.orderPriceValue {
  font-family: var(--Roboto);
  color: var(--282828);
}

.orderSubTotalDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--F3F2ED);
}

.orderSubTotalText {
  font-family: var(--Roboto);
  color: var(--222222);
}

.orderSubTotalValue {
  font-family: var(--Roboto);
  color: var(--282828);
}

#orderPaymentDiv {
  display: flex;
  flex-direction: column;
}

.paymentButtonText {
  display: flex;
  align-items: center;
}

.paymentButton {
  accent-color: var(--222222);
}

.paymentText {
  font-family: var(--Roboto);
  color: var(--1B1A1A);
}

.paymentMethodDetails {
  background-color: var(--F3F2ED);
  color: var(--282828);
  font-family: var(--Roboto);
}

#personalInfoText {
  color: var(--282828);
  font-family: var(--Roboto);
}

#termsDiv {
  display: flex;
  align-items: center;
}

#termsCheckbox {
  accent-color: var(--222222);
}

#termsText {
  color: var(--1B1A1A);
  font-family: var(--Roboto);
}

.place-order-btn {
  width: 100%;
}









#card-payment-image-div {
  text-align: center;
}

#card-payment-input-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.card-payment-input {
  border: 1px solid var(--222222);
  font-family: var(--Roboto);
  color: var(--222222);
  outline: none;
}

.card-payment-input::-webkit-inner-spin-button, .card-payment-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.card-payment-input:nth-child(1) {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.card-payment-input:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.card-payment-input:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

#card-payment-buttons-div {
  display: grid;
  grid-template-columns: 65% 35%;
}













@media all and (max-width: 1023px) {
  .cartPriceValueDiv {
    justify-content: space-between;
  }

  #cartShippingDiv {
    justify-content: space-between;
  }
}








/* Styling for tab and desktop */
@media all and (min-width: 768px) {
  #cartSection {
    right: 0;
  }

  .cartRemove {
    font-size: var(--16px);
  }

  .cartProductMain {
    gap: 0 1rem;
  }

  .cartProductImage {
    height: 7rem;
    width: 5rem;
  }

  .cartDetailsSection {
    gap: 0.25rem 0;
  }

  .cartProductText {
    font-size: var(--16px);
  }

  .cartDefaultText {
    font-size: var(--16px);
  }

  #totalPriceDiv {
    margin: 2rem 0;
  }

  .totalPrice {
    font-size: var(--16px);
  }

  #cartButtonsDiv {
    gap: 1rem 0;
  }

  .cartButtons {
    padding: 1.25rem 0;
  }

  #cartFooter {
    padding: 1.75rem 0;
  }

  .cart-info-div {
    padding: 1.5rem;
    margin: 0.75rem 0;
  }

  .cart-info-text {
    font-size: var(--16px);
  }

  #cartUpdateBtnDiv {
    display: flex;
    justify-content: flex-end;
  }

  .cart-update-btn {
    padding: 1.25rem 2rem;
  }

  #cartTotalText {
    margin: 2rem 0;
  }

  .cart-checkout-button {
    padding: 1.25rem 2rem;
    margin: 2rem 0 5rem 0;
  }

  #cartAddressDiv {
    gap: 1.5rem 0;
  }

  .cartAddressInputs {
    padding: 1.25rem;
    font-size: var(--16px);
  }

  .cart-address-btn {
    padding: 1.25rem 2rem;
  }

  #checkoutLoginDiv {
    justify-content: space-between;
  }

  .checkoutLoginTexts {
    font-size: var(--16px);
  }

  #billOrderSection {
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .billOrderText {
    margin-bottom: 1.75rem;
  }

  .billForm {
    gap: 1.75rem 0;
  }

  .billLabel {
    font-size: var(--16px);
  }

  .billInput {
    padding: 1.25rem;
    font-size: var(--16px);
  }

  #billOtherMain {
    margin-bottom: 1.75rem;
  }

  #billOtherText {
    font-size: var(--16px);
  }

  #billOptText {
    font-size: var(--16px);
  }

  #billOptTextArea {
    padding: 1.25rem;
    font-size: var(--16px);
  }

  #orderOptionDiv {
    padding: 1rem 0;
  }

  .orderOptionText {
    font-size: var(--16px);
  }

  .orderProductPriceDiv {
    padding: 2rem 0;
  }

  .orderProductNameAmt {
    font-size: var(--16px);
  }

  .orderPriceValue {
    font-size: var(--16px);
  }

  .orderSubTotalDiv {
    padding: 2.5rem 0;
  }

  .orderSubTotalText {
    font-size: var(--16px);
  }

  .orderSubTotalValue {
    font-size: var(--16px);
  }

  .paymentButtonText {
    gap: 0 1rem;
    margin-bottom: 1rem;
  }

  .paymentText {
    font-size: var(--16px);
  }

  .paymentMethodDetails {
    font-size: var(--16px);
  }

  #personalInfoText {
    margin-bottom: 1.5rem;
    font-size: var(--16px);
  }

  #termsDiv {
    margin: 1.5rem 0;
  }

  #termsText {
    font-size: var(--16px);
  }

  .place-order-btn {
    padding: 1.25rem 0;
  }

  #card-payment-main {
    margin-top: 5rem;
  }

  #card-payment-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5rem;
  }

  #card-payment-input-div {
    gap: 1rem;
    margin-bottom: 2.5rem;
  }

  .card-payment-input {
    padding: 1.5rem;
    font-size: var(--16px);
  }

  .card-payment-button {
    padding: 1.25rem 0;
  }

  .card-payment-button:nth-child(2) {
    margin-left: 1rem;
  }
}





/* Styling for mobile alone */
@media all and (max-width: 767px) {
  :root {
    --12px: 0.75rem;
  }

  #cartHeader {
    padding: 1.25rem 1.25rem 1.25rem 2.35rem;
  }

  #cartProductDiv {
    padding: 0.75rem 1.5rem 0 1.5rem;
  }

  #cartProductInnerDiv {
    gap: 1.5rem 0;
    padding-bottom: 1.5rem;
  }

  .cartRemove {
    font-size: var(--12px);
  }

  .cartProductMain {
    gap: 0 0.75rem;
  }

  .cartProductImage {
    height: 4rem;
    width: 3rem;
  }

  .cartDetailsSection {
    gap: 0.15rem 0;
  }

  .cartProductName {
    font-size: var(--16px);
  }

  .cartProductText {
    font-size: var(--12px);
  }

  .cartDefaultText {
    font-size: var(--12px);
  }

  #totalPriceDiv {
    margin: 1.5rem 0;
  }

  .totalPrice {
    font-size: var(--12px);
  }

  #cartButtonsDiv {
    gap: 0.75rem 0;
  }

  .cartButtons {
    padding: 1rem 0;
  }

  #cartFooter {
    padding: 1.5rem 0;
  }

  .cart-info-div {
    padding: 1rem;
    margin: 0.5rem 0;
    gap: 0.15rem 0;
  }

  .cart-info-text {
    font-size: var(--12px);
  }

  .cartQuantityDiv {
    padding: 0.5rem 0;
  }

  .cart-update-btn {
    width: 100%;
    padding: 1rem 0;
  }

  #cartTotalText {
    margin: 1rem 0;
    font-size: var(--16px);
  }

  .cartPriceText {
    font-size: var(--16px);
  }

  #cartShippingText {
    font-size: var(--16px);
  }

  #cartAddressDiv {
    margin: 0.5rem 0;
    gap: 0.75rem 0;
  }

  .cartAddressInputs {
    padding: 1rem;
    font-size: var(--12px);
  }

  .cart-address-btn {
    padding: 1rem 1.5rem;
  }

  .cart-checkout-button {
    padding: 1rem 1.5rem;
    margin: 2rem 0 4rem 0;
  }

  #checkoutMain {
    margin-top: 3rem;
  }

  #checkoutLoginDiv {
    padding: 1rem;
    flex-direction: column;
    gap: 1rem 0;
  }

  .checkoutLoginTexts {
    font-size: var(--12px);
  }

  .billOrderDiv {
    margin: 2rem 0;
  }

  .billOrderText {
    margin-bottom: 1.5rem;
    font-size: var(--16px);
  }

  .billForm {
    gap: 1.25rem 0;
  }

  .billLabelInputDiv {
    gap: 0.25rem 0;
  }

  .billLabel {
    font-size: var(--12px);
  }

  .billInput {
    padding: 1rem;
    font-size: var(--12px);
  }

  #billOtherAddresssDiv {
    margin: 1.5rem 0;
  }

  #billOtherMain {
    margin-bottom: 1.5rem;
  }

  #billOtherText {
    font-size: var(--12px);
  }

  #billOptTextDiv {
    gap: 0.25rem 0;
  }

  #billOptText {
    font-size: var(--12px);
  }

  #billOptTextArea {
    font-size: var(--12px);
    padding: 1rem;
  }

  #orderOptionDiv {
    padding: 0.75rem 0;
  }

  .orderOptionText {
    font-size: var(--12px);
  }

  .orderProductPriceDiv {
    padding: 1rem 0;
  }

  .orderProductNameAmt {
    font-size: var(--12px);
  }

  .orderPriceValue {
    font-size: var(--12px);
  }

  .orderSubTotalDiv {
    padding: 1.5rem 0;
  }

  .orderSubTotalText {
    font-size: var(--12px);
  }

  .orderSubTotalValue {
    font-size: var(--12px);
  }

  #orderPaymentDiv {
    gap: 1rem 0;
    padding: 1rem 0;
  }

  .paymentButtonText {
    gap: 0 0.75rem;
    margin-bottom: 0.75rem;
  }

  .paymentText {
    font-size: var(--12px);
  }

  .paymentMethodDetails {
    padding: 1rem;
    font-size: var(--12px);
  }

  #personalInfoText {
    margin-bottom: 1rem;
    font-size: var(--12px);
  }

  #termsDiv {
    margin: 1rem 0;
    gap: 0 0.75rem;
  }

  #termsText {
    font-size: var(--12px);
  }

  .place-order-btn {
    padding: 1rem 0;
  }

  #card-payment-main {
    margin-top: 2.5rem;
  }

  #card-payment-input-div {
    gap: 0.75rem;
    margin: 1.5rem 0;
  }

  .card-payment-input {
    padding: 1rem;
    font-size: var(--12px);
  }

  .card-payment-button {
    padding: 0.75rem 0;
  }

  .card-payment-button:nth-child(2) {
    margin-left: 0.75rem;
  }

  #card-payment-image {
    height: 13rem;
    width: 100%;
  }
}





/* Styling for tab alone */
@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --24px: 1.5rem;
  }

  #cartSection {
    width: 55%;
  }

  #cartHeader {
    padding: 2rem;
  }

  #cartProductDiv {
    padding: 1rem 2rem 0 2rem;
  }

  #cartProductInnerDiv {
    gap: 2rem 0;
    padding-bottom: 2rem;
  }

  .cartProductName {
    font-size: var(--24px);
  }

  .cart-info-div {
    gap: 0.35rem 0;
  }

  .cartQuantityDiv {
    padding: 1rem 0;
  }

  #cartTotalText {
    font-size: var(--24px);
  }

  .cartPriceText {
    font-size: var(--24px);
  }

  #cartShippingText {
    font-size: var(--24px);
  }

  #cartAddressDiv {
    margin: 0.75rem 0;
  }

  #checkoutMain {
    margin-top: 4rem;
  }

  #checkoutLoginDiv {
    padding: 1.5rem;
  }

  #billOrderSection {
    gap: 0 2rem;
  }

  .billOrderText {
    font-size: var(--24px);
  }

  .billLabelInputDiv {
    gap: 0.5rem 0;
  }

  #billOtherAddresssDiv {
    margin: 1.75rem 0;
  }

  #billOptTextDiv {
    gap: 0.5rem 0;
  }

  #orderPaymentDiv {
    gap: 1.5rem 0;
    padding: 2rem 0;
  }

  .paymentMethodDetails {
    padding: 1.5rem 1rem;
  }

  #termsDiv {
    gap: 0 1rem;
  }

  #card-payment-image {
    height: 17.5rem;
    width: 30rem;
  }
}





/* Styling for desktop alone */
@media all and (min-width: 1024px) {
  :root {
    --20px: 1.25rem;
  }

  #cartSection {
    width: 30%;
    right: 0;
  }

  #cartHeader {
    padding: 2.5rem 2.5rem 2.5rem 3rem;
  }

  #cartProductDiv {
    padding: 1rem 2.5rem 0 3rem;
  }

  #cartProductInnerDiv {
    gap: 2.5rem 0;
    padding-bottom: 2.5rem;
  }

  .cartProductName {
    font-size: var(--20px);
  }

  .cart-info-div {
    gap: 0.25rem 0;
  }

  .cartQuantityDiv {
    justify-self: center;
  }

  .cartPriceValueDiv {
    gap: 0 20%;
  }

  #cartTotalText {
    font-size: var(--20px);
  }

  .cartPriceText {
    font-size: var(--20px);
  }

  #cartShippingDiv {
    gap: 0 13.5%;
  }

  #cartShippingText {
    font-size: var(--20px);
  }

  #cartAddressDiv {
    margin: 0.75rem 0 0.75rem 23.5%;
  }

  #checkoutMain {
    margin-top: 6rem;
  }

  #checkoutLoginDiv {
    padding: 1rem;
  }

  #billOrderSection {
    gap: 0 3rem;
  }

  .billOrderText {
    font-size: var(--20px);
  }

  .billLabelInputDiv {
    gap: 0.25rem 0;
  }

  #billOtherAddresssDiv {
    margin: 2rem 0;
  }

  #billOptTextDiv {
    gap: 0.25rem 0;
  }

  #orderOptionDiv {
    padding-right: 5rem;
  }

  .orderProductPriceDiv {
    padding-right: 5rem;
  }

  .orderSubTotalDiv {
    padding-right: 5rem;
  }

  #orderPaymentDiv {
    gap: 1rem 0;
    padding: 2.5rem 0;
  }

  .paymentMethodDetails {
    padding: 1rem;
  }

  #termsDiv {
    gap: 0 0.5rem;
  }

  #card-payment-image {
    height: 20rem;
    width: 42.5rem;
  }
}