#product-loading-section {
  display: grid;
  width: 100%;
}

.product-loading-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-loading-image {
  width: 100%;
}

#product-loading-navigation-section {
  display: flex;
}

#page-navigation-loading-section {
  display: flex;
  align-items: center;
}

.page-navigation-loading-main {
  display: flex;
  align-items: center;
}

#review-loading-images-section {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
}

#review-loading-images-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.review-loading-details-inner-section {
  border-bottom: 1px solid #EBEBEB;
  display: flex;
  flex-direction: column;
}

#review-loading-color-section {
  display: flex;
}

#review-loading-topic-section {
  display: flex;
  justify-content: space-between;
}

#review-loading-cart-section {
  display: flex;
}

#review-loading-wishlist-section {
  display: flex;
}

#review-loading-delivery-section {
  display: flex;
}

.review-loading-delivery-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#review-loading-handle-section {
  display: flex;
}

#review-loading-product-description-section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #EBEBEB;
}

#review-loading-product-description-navigation-section {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #EBEBEB;
}

#review-loading-related-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-loading-main-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-loading-filter-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#display-loading-filter {
  display: flex;
  align-items: center;
}

.productList {
  display: flex;
  align-items: center;
  gap: 0 0.35rem;
  flex-wrap: wrap;
}

.productListItem {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0 0.35rem;
}

.productLinkText {
  color: var(--282828);
  font-family: var(--font-roboto);
  text-transform: capitalize;
  user-select: none;
}

.productLinkIcon {
  color: var(--222222);
}

#productReviewImages {
  display: grid;
  grid-template-columns: 20% 80%;
}

#productSideImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 1 / 6;
}

.productSizeList {
  list-style: none;
  overflow: hidden;
}

.productSizeListStyle {
  border: 1px solid var(--616161);
}

.imageSize {
  width: 100%;
  height: 100%;
}

#productMainImageDiv {
  grid-row: 1 / 6;
  overflow: hidden;
}

.productDetailName {
  font-family: var(--font-cormorant-infant);
  color: var(--1B1A1A);
  text-transform: capitalize;
}

.productDetailPrice {
  font-family: var(--font-roboto);
  color: var(--222222);
}

#productDetailReview {
  color: var(--222222);
  font-family: var(--font-roboto);
}

.productDetailDesc {
  color: var(--282828);
  font-family: var(--font-roboto);
  margin-bottom: 1rem;
}

.productDivs {
  border-bottom: 0.25px solid var(--F3F2ED);
}

.productPrepText {
  font-family: var(--font-roboto);
  color: var(--222222);
}

#productColorText {
  color: var(--1B1A1A);
  font-family: var(--font-roboto);
  text-transform: capitalize;
}

#productColorMain {
  display: flex;
  align-items: center;
}

.product-color-size-div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.color-div {
  border-radius: 50%;
}

.productColorInnerDiv {
  border-radius: 50%;
}

.productColorInnerText {
  font-family: var(--font-roboto);
  color: var(--1B1A1A);
  text-transform: capitalize;
}

.productSizeDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productSizeText {
  font-family: var(--font-roboto);
  color: var(--222222);
}

.productSizeMainText {
  font-family: var(--font-roboto);
  color: var(--282828);
  text-transform: uppercase;
  width: fit-content;
}

.productToCart {
  display: flex;
}

.productToCartDiv {
  border: 1px solid var(--616161);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.productToCartInnerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--222222);
}

.productToCartInnerDiv:first-child {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.productToCartInnerDiv:nth-child(2),
.productToCartInnerDiv:nth-child(3) {
  border-left: 1px solid var(--616161);
  cursor: pointer;
}

.productToCartInnerDiv:nth-child(2) {
  border-bottom: 1px solid var(--616161);
}

.productToCartButton {
  background-color: var(--222222);
  color: white;
  font-family: var(--font-roboto);
  cursor: pointer;
  border: none;
}

.productToWishlist {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.productWishlistText {
  font-family: var(--font-roboto);
  color: var(--222222);
}

#productDeliveryInfo {
  display: flex;
  align-items: center;
}

.productDeliveryInfoInnerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productDeliveryInfoTexts {
  color: var(--282828);
  font-family: var(--font-roboto);
  text-align: center;
}

#productDeliveryPayment {
  background-color: var(--F3F2ED);
}

#productDeliveryPaymentText {
  font-family: var(--font-roboto);
  color: var(--282828);
}

.productDeliveryDetails {
  display: flex;
}

.productDeliveryDetailsTexts {
  color: var(--1B1A1A);
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
}

#productHandles {
  display: flex;
}

#productAbout {
  border-bottom: 0.15px solid var(--F3F2ED);
}

#productAboutMain {
  display: flex;
  justify-content: center;
  border-bottom: 0.15px solid var(--F3F2ED);
}

.productAboutMainTexts {
  color: var(--616161);
  font-family: var(--font-roboto);
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.productAboutMainTexts:hover {
  border-bottom: 1px solid #222222;
}

#productAboutText {
  color: var(--282828);
  font-family: var(--font-roboto);
}

#productAboutDiv {
  display: flex;
}

.productAboutInnerDiv {
  display: flex;
  align-items: center;
}

.productAboutInnerDiv:last-child {
  border: none;
}

.productAboutInnerText {
  color: var(--1B1A1A);
  font-family: var(--font-roboto);
}

#productRelatedText {
  text-align: center;
  font-family: var(--font-cormorant-infant);
  color: var(--1B1A1A);
}






#productViewSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

#productViewMain {
  background-color: white;
  position: relative;
}

#productViewMainDiv::-webkit-scrollbar,
#productViewMain::-webkit-scrollbar {
  width: 2px;
}

#productViewMain::-webkit-scrollbar-track,
#productViewMainDiv::-webkit-scrollbar-track {
  background-color: white;
}

#productViewMain::-webkit-scrollbar-thumb,
#productViewMainDiv::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--9B9B9B);
}

#productViewBack {
  position: absolute;
  right: 0;
}

#productViewBackIcon {
  cursor: pointer;
}

#productViewInnerMain::-webkit-scrollbar {
  display: none;
}

#productViewImageDiv {
  background-repeat: no-repeat;
  background-size: cover;
}

#productReviewLinkDiv {
  display: flex;
  justify-content: flex-end;
}

.about-main-text {
  color: var(--1B1A1A);
  font-family: var(--font-cormorant-infant);
}

.about-inner-text {
  color: var(--282828);
  font-family: var(--font-roboto);
}

#rating-icons-div {
  display: flex;
}

.rating-icon {
  cursor: pointer;
}

#rating-input-div {
  display: grid;
}

.rating-input {
  border: 1px solid var(--222222);
  font-family: var(--font-roboto);
  color: var(--222222);
}

.rating-input:nth-child(1) {
  resize: none;
}

#rating-details-div {
  display: flex;
}

#rating-details-checkbox {
  accent-color: var(--222222);
}












.productShownDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#productFilterIconTextDiv {
  cursor: pointer;
}

.productFilterDiv {
  position: relative;
  z-index: 20;
}

.productTexIcontDiv {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
  cursor: pointer;
}

.productShownText {
  color: var(--282828);
  font-family: var(--font-roboto);
  user-select: none;
}

.productIcons {
  color: var(--222222);
  cursor: pointer;
}

.productTexts {
  color: var(--222222);
  font-family: var(--font-roboto);
  user-select: none;
}

.productInnerDivs {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--222222);
  position: absolute;
  right: 0;
  background-color: #FFFFFF;
  text-wrap: nowrap;
}

.productFilterTexts {
  color: var(--222222);
  font-family: var(--font-roboto);
  cursor: pointer;
  user-select: none;
}

.product-shown-default-text {
  color: var(--222222);
  font-family: var(--font-roboto);
  text-align: center;
}

.productNavigationDiv {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.productNavigationText {
  color: var(--222222);
  font-family: var(--font-roboto);
  cursor: pointer;
  user-select: none;
}

.navigation-text {
  border-bottom: 1px solid var(--222222);
  font-weight: bold;
  text-align: center;
}








#productFilterIconTextDiv {
  display: flex;
  align-items: center;
  gap: 0 0.5rem;
}

.productFilterSectionMainFixed {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}

#productFilterOptionsSection {
  width: 100%;
  background-color: #1B1A1AB3;
}

#productFilterOptionsMain {
  background-color: #FFFFFF;
  overflow-y: auto;
}

#productFilterOptionsMain::-webkit-scrollbar {
  display: none;
}

#productFilterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--F3F2ED);
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 25;
}

#filterHeaderText {
  font-family: var(--font-cormorant-infant);
  color: var(--1B1A1A);
}

.productFilterText {
  color: var(--1B1A1A);
  font-family: var(--font-roboto);
}

.productFilterSections {
  display: flex;
  flex-direction: column;
}

.productFilterDivs {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filterCheckbox {
  accent-color: var(--222222);
  border: 1px solid var(--222222);
  cursor: pointer;
}

.filterTextsLength {
  font-family: var(--font-roboto);
  color: var(--222222);
  display: flex;
  user-select: none;
}

#filter-text-type {
  text-transform: capitalize;
}

#filter-color-text {
  text-transform: capitalize;
}

#filter-text-size {
  text-transform: uppercase;
}

#productFilterSlider {
  position: relative;
}

.filterPriceRange {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  width: 100%;
  height: 0;
  z-index: 3;
  top: 0.20rem;
}

.filterPriceRange::-webkit-slider-thumb {
  pointer-events: all;
  width: 0.5rem;
  height: 1.25rem;
  background-color: var(--222222);
  cursor: pointer;
  -webkit-appearance: none;
}

#productFilterSliderTrack {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #DDD;
  z-index: 1;
}

#productFilterSliderRange {
  position: absolute;
  height: 5px;
  background-color: var(--222222);
  z-index: 2;
}

#filterPriceInnerDiv {
  display: flex;
  justify-content: space-between;
}

.filterPriceValueTexts {
  font-family: var(--font-roboto);
  color: var(--282828);
}

.productFilterColorDiv {
  display: flex;
  justify-content: space-between;
}

.filterColorInnerDivs {
  border-radius: 50%;
}

#productFilterFooter {
  position: fixed;
  bottom: 0;
  z-index: 25;
  background-color: white;
}









@media all and (min-width: 768px) {
  .otherPages {
    margin-top: 10rem;
  }

  .productLinkText {
    font-size: 1rem;
  }

  .productLinkIcon {
    font-size: 0.75rem;
  }

  #productReviewImages {
    grid-template-rows: 8rem 8rem 8rem 8rem 8rem;
  }

  .productDetailPrice {
    font-size: var(--16px);
  }

  #productDetailReview {
    font-size: var(--16px);
  }

  .productDetailDesc {
    font-size: var(--16px);
  }

  .productDivs {
    padding: 2rem 0;
  }

  .productPrepText {
    font-size: var(--16px);
  }

  #productColorText {
    margin-bottom: 1rem;
    font-size: var(--16px);
  }

  #productColorMain {
    gap: 0 1rem;
  }

  .product-color-size-div {
    gap: 0 0.75rem;
  }

  .color-div {
    padding: 0.25rem;
  }

  .productColorInnerDiv {
    height: 1.5rem;
    width: 1.5rem;
  }

  .productColorInnerText {
    font-size: var(--16px);
  }

  .productSizeDiv {
    margin-bottom: 1rem;
  }

  .productSizeText {
    font-size: var(--16px);
  }

  .productSizeMainText {
    padding: 0.75rem;
    font-size: var(--16px);
  }

  .productToCart {
    margin-bottom: 1rem;
  }

  .productToCartInnerDiv {
    font-size: var(--16px);
    padding: 0.15rem 0.5rem;
  }

  .productToCartButton {
    font-size: var(--16px);
  }

  .productToWishlist {
    gap: 0 0.5rem;
  }

  .productWishlistIcon {
    font-size: var(--16px);
  }

  .productWishlistText {
    font-size: var(--16px);
  }

  #productDeliveryInfo {
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .productDeliveryInfoInnerDiv {
    gap: 0.75rem 0;
  }

  .productDeliveryInfoIcons {
    font-size: var(--24px);
  }

  .productDeliveryInfoTexts {
    font-size: var(--16px);
  }

  #productDeliveryPayment {
    padding: 2rem;
  }

  #productDeliveryPaymentText {
    margin-bottom: 0.75rem;
    font-size: var(--16px);
  }

  .productDeliveryDetails {
    flex-direction: column;
    gap: 0.75rem 0;
  }

  .productDeliveryDetailsTexts {
    gap: 0 0.35rem;
    font-size: var(--16px);
  }

  .productAboutMainTexts {
    padding-bottom: 0.75rem;
    font-size: var(--16px);
  }

  .productAboutDivs {
    margin-top: 2rem;
  }

  #productAboutText {
    font-size: var(--16px);
  }

  #productAboutDiv {
    gap: 0 1.5rem;
    margin-top: 2rem;
  }

  .productAboutInnerDiv {
    border-right: 0.15px solid var(--F3F2ED);
    padding-right: 1.5rem;
    gap: 0 1.25rem;
  }

  .productAboutInnerImage {
    height: 1.75rem;
    width: 1.75rem;
  }

  .productAboutInnerText {
    font-size: var(--16px);
  }

  .product-about-main {
    margin: 1.25rem 0;
  }

  #about-inner-div {
    padding: 1.5rem 0;
  }

  .about-inner-text {
    margin: 0.5rem 0;
    font-size: var(--16px);
  }

  #about-rating-section {
    margin: 1.5rem 0 3rem 0;
  }

  #rating-icons-div {
    margin-top: 0.35rem;
    gap: 0 0.35rem;
  }

  .rating-icon {
    font-size: var(--16px);
  }

  #rating-input-div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }

  .rating-input {
    padding: 1.25rem;
    font-size: var(--16px);
  }

  .rating-input:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }

  .rating-input:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .rating-input:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  #rating-details-div {
    gap: 0 0.75rem;
    margin: 1.25rem 0 1.75rem 0;
  }

  .rating-submit-button {
    padding: 1.25rem 1.75rem;
  }

  #productRelatedDiv {
    margin-bottom: 4rem;
  }

  #productViewBack {
    padding: 1rem;
  }

  #productViewBackIcon {
    font-size: var(--16px);
  }

  #productViewMainDiv {
    padding: 1.5rem;
  }

  .product-review-link {
    margin-top: 2rem;
  }

  .productShownDiv {
    margin-bottom: 2rem;
  }

  .productInnerDivs {
    margin-top: 1rem;
  }

  .productShownText {
    font-size: var(--16px);
  }

  .productIcons {
    font-size: var(--16px);
  }

  .productTexts {
    font-size: var(--16px);
  }

  .productInnerDivs {
    padding: 1.5rem 0;
  }

  .productFilterTexts {
    font-size: var(--16px);
    padding: 0.35rem 5rem 0.35rem 1rem;
  }

  .product-shown-default-text {
    font-size: var(--16px);
    margin: 2rem 0;
  }

  .productFilterSection {
    display: grid;
    gap: 0 3.5rem;
  }

  .productNavigationDiv {
    gap: 0 2rem;
  }

  .productNavigationText {
    font-size: var(--16px);
  }

  .navigation-text {
    padding: 0 0.5rem 0.10rem 0.5rem;
  }

  .productFilterMainDivs {
    padding: 3rem;
  }

  .productFilterSections {
    gap: 0.25rem 0;
  }

  .productFilterDivs {
    gap: 0 0.75rem;
  }

  .filterTextsLength {
    font-size: var(--16px);
    gap: 0 0.35rem;
  }

  .filterPriceValueTexts {
    font-size: var(--16px);
  }

  .filterColorInnerDivs {
    height: 1.5rem;
    width: 1.5rem;
  }

  #productFilterFooter {
    padding: 3rem;
  }
}






@media all and (max-width: 767px) {
  :root {
    --20px: 1.25rem;
    --12px: 0.75rem;
  }

  #product-loading-section {
    grid-template-columns: 1fr;
    gap: 2.5rem 0;
  }

  .product-loading-main {
    gap: 1rem 0;
  }

  .product-loading-image {
    height: 20rem;
  }

  .product-loading-name {
    height: 0.85rem;
    width: 8.5rem;
  }

  .product-loading-price {
    height: 0.5rem;
    width: 4rem;
  }

  #product-loading-navigation-section {
    gap: 0 1rem;
  }

  #product-loading-navigation {
    width: 1rem;
    height: 1rem;
  }

  #page-navigation-loading-section {
    gap: 0 0.75rem;
  }

  .page-navigation-loading-main {
    gap: 0 0.75rem;
  }

  .page-navigation-loading-text {
    height: 1rem;
    width: 3.5rem;
  }

  .page-navigation-loading-arrow {
    height: 0.75rem;
    width: 0.75rem;
  }

  #review-loading-main {
    margin-top: 3rem;
  }

  #review-loading-images-section {
    grid-template-columns: 20% 78.5%;
    height: 55vh;
    gap: 0 0.35rem;
  }

  #review-loading-images-grid {
    gap: 0.35rem 0;
  }

  #review-loading-details-section {
    margin-top: 3rem;
  }

  #review-loading-details-product-name {
    height: 1.5rem;
    width: 12.5rem;
  }

  #review-loading-details-price {
    height: 1rem;
    width: 8rem;
    margin: 1.25rem 0;
  }

  #review-loading-details-ratings {
    height: 0.85rem;
    width: 11rem;
  }

  #review-loading-details-description {
    height: 5rem;
    margin: 1.25rem 0;
  }

  .review-loading-details-inner-section {
    padding: 1.25rem 0;
    gap: 0.85rem 0;
  }

  #review-loading-details-status-text {
    height: 1rem;
    width: 15rem;
  }

  #review-loading-details-status-bar {
    height: 0.35rem;
  }

  #review-loading-color-text {
    height: 1rem;
    width: 6rem;
  }

  #review-loading-color-section {
    gap: 0 1.5rem;
  }

  .review-loading-topic-text {
    height: 1rem;
    width: 5rem;
  }

  #review-loading-size-section {
    display: flex;
    gap: 0 1.25rem;
  }

  .review-loading-size {
    width: 2.5rem;
    height: 2.5rem;
  }

  #review-loading-cart-section {
    gap: 0 1.25rem;
  }

  #review-loading-cart-quantity {
    height: 3rem;
    width: 4rem;
  }

  #review-loading-cart-button {
    height: 3rem;
    width: 7.5rem;
  }

  #review-loading-wishlist-section {
    gap: 0 0.35rem;
  }

  #review-loading-wishlist-icon {
    height: 1rem;
    width: 1rem;
  }

  #review-loading-wishlist-text {
    height: 1rem;
    width: 7.5rem;
  }

  #review-loading-delivery-section {
    margin-top: 2rem;
    flex-direction: column;
    gap: 1.5rem 0;
  }

  .review-loading-delivery-main {
    gap: 0.75rem 0;
  }

  .review-loading-delivery-icon {
    width: 1.25rem;
    height: 1.25rem;
  }

  .review-loading-delivery-text {
    height: 1.5rem;
    width: 15rem;
  }

  #review-loading-payment-section {
    height: 10rem;
    margin: 1.5rem 0;
  }

  #review-loading-sku {
    height: 1rem;
    width: 6rem;
  }

  #review-loading-category {
    height: 1rem;
    width: 12.5rem;
    margin: 1rem 0 1.5rem 0;
  }

  #review-loading-handle-section {
    gap: 0 1rem;
  }

  .review-loading-handle-icon {
    height: 1.5rem;
    width: 1.5rem;
  }

  #review-loading-product-description-section {
    margin-top: 3.5rem;
    gap: 1.5rem 0;
    padding-bottom: 4rem;
  }

  #review-loading-product-description-navigation-section {
    padding-bottom: 0.75rem;
    gap: 0 5rem;
  }

  .review-loading-product-description-navigation-text {
    height: 1rem;
    width: 5rem;
  }

  #review-loading-product-description {
    height: 15rem;
  }

  #review-loading-related-section {
    gap: 2rem 0;
    margin: 3.5rem 0;
  }

  #review-loading-related-topic {
    height: 1.25rem;
    width: 10rem;
  }

  #product-loading-main-display {
    gap: 1.5rem 0;
    margin-top: 2.75rem;
  }

  #product-loading-filter-count {
    height: 1rem;
    width: 9.5rem;
  }

  #product-loading-filter-option {
    height: 1rem;
    width: 7rem;
  }

  #display-loading-filter {
    gap: 0.65rem;
  }

  #display-loading-filter-icon {
    height: 1rem;
    width: 1rem;
  }

  #display-loading-filter-text {
    height: 1rem;
    width: 4rem;
  }

  .otherPages {
    margin-top: 8rem;
    padding: 1rem;
  }

  .productLinkText {
    font-size: var(--12px);
  }

  .productLinkIcon {
    font-size: 0.5rem;
  }

  .productMains {
    margin-top: 2.5rem;
  }

  #productReviewImages {
    grid-template-rows: 4.25rem 4.25rem 4.25rem 4.25rem 4.25rem;
    gap: 0 0.20rem;
  }

  #productSideImages {
    gap: 0.20rem 0;
  }

  .productSizeListStyle {
    padding: 0.15rem;
  }

  #productReviewDiv {
    padding: 2.5rem 0 3rem 0;
  }

  .productDetailName {
    font-size: var(--20px);
    margin-bottom: 0.75rem;
  }

  .productDetailPrice {
    font-size: var(--12px);
  }

  #productDetailReview {
    margin: 1rem 0;
    font-size: var(--12px);
  }

  .productDetailDesc {
    font-size: var(--12px);
  }

  .productDivs {
    padding: 1rem 0;
  }

  .productPrepText {
    margin-bottom: 0.5rem;
    font-size: var(--12px);
  }

  .productPrepDiv {
    padding: 0.15rem;
  }

  #productColorText {
    margin-bottom: 0.5rem;
    font-size: var(--12px);
  }

  #productColorMain {
    gap: 0 0.75rem;
  }

  .product-color-size-div {
    gap: 0 0.5rem;
  }

  .color-div {
    padding: 0.15rem;
  }

  .productColorInnerDiv {
    height: 1.25rem;
    width: 1.25rem;
  }

  .productColorInnerText {
    font-size: var(--12px);
  }

  .productSizeDiv {
    margin-bottom: 0.75rem;
  }

  .productSizeText {
    font-size: var(--12px);
  }

  .productSizeMainText {
    padding: 0.5rem;
    font-size: var(--12px);
  }

  .productToCart {
    gap: 0 1rem;
    margin-bottom: 0.75rem;
  }

  .productToCartInnerDiv {
    padding: 0.05rem 0.30rem;
    font-size: var(--12px);
  }

  .productToCartButton {
    padding: 0 0.75rem;
    font-size: var(--12px);
  }

  .productToWishlist {
    gap: 0 0.25rem;
  }

  .productWishlistIcon {
    font-size: var(--12px);
  }

  .productWishlistText {
    font-size: var(--12px);
  }

  #productDelivery {
    margin-top: 1.5rem;
  }

  #productDeliveryInfo {
    flex-direction: column;
    gap: 1rem 0;
    margin-bottom: 1rem;
  }

  .productDeliveryInfoInnerDiv {
    gap: 0.5rem 0;
  }

  .productDeliveryInfoIcons {
    font-size: var(--20px);
  }

  .productDeliveryInfoTexts {
    font-size: var(--12px);
  }

  #productDeliveryPayment {
    padding: 1rem;
  }

  #productDeliveryPaymentText {
    margin-bottom: 0.75rem;
    font-size: var(--12px);
  }

  .productDeliveryDetails {
    flex-direction: column;
    margin: 1rem 0;
    gap: 0.25rem 0;
  }

  .productDeliveryDetailsTexts {
    gap: 0 0.25rem;
    font-size: var(--12px);
  }

  #productHandles {
    gap: 0 0.75rem;
  }

  #productAbout {
    padding-bottom: 3rem;
  }

  #productAboutMain {
    gap: 0 5rem;
  }

  .productAboutMainTexts {
    padding-bottom: 0.5rem;
    font-size: var(--12px);
  }

  .productAboutDivs {
    margin-top: 1.5rem;
  }

  #productAboutText {
    font-size: var(--12px);
  }

  #productAboutDiv {
    flex-direction: column;
    margin-top: 2.5rem;
    gap: 1rem 0;
  }

  .productAboutInnerDiv {
    padding-bottom: 1rem;
    gap: 0 1rem;
    border-bottom: 0.15px solid var(--F3F2ED);
  }

  .productAboutInnerImage {
    height: 1.5rem;
    width: 1.5rem;
  }

  .productAboutInnerText {
    font-size: var(--12px);
  }

  #productRelatedText {
    margin: 3rem 0 2rem 0;
    font-size: var(--20px);
  }

  #productViewMain {
    width: 90%;
  }

  #productViewInnerMain {
    height: 90vh;
  }

  #productViewBack {
    padding: 0.75rem;
  }

  #productViewBackIcon {
    font-size: var(--12px);
  }

  #productViewImageDiv {
    height: 21.25rem;
  }

  #productViewMainDiv {
    padding: 1rem;
  }

  .product-view-price {
    margin-bottom: 1rem;
  }

  .product-review-link {
    margin-top: 1rem;
  }

  .product-about-main {
    margin: 0.75rem 0;
  }

  .about-main-text {
    font-size: var(--20px);
  }

  #about-inner-div {
    padding: 0.5rem 0;
  }

  .about-inner-text {
    font-size: var(--12px);
    margin: 0.25rem 0;
  }

  #about-rating-section {
    margin: 1rem 0;
  }

  #rating-icons-div {
    margin-top: 0.15rem;
    gap: 0 0.15rem;
  }

  .rating-icon {
    font-size: var(--12px);
  }

  #rating-input-div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .rating-input {
    padding: 1rem;
    font-size: var(--12px);
  }

  .rating-input:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }

  .rating-input:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .rating-input:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  #rating-details-div {
    gap: 0 0.5rem;
    margin: 0.75rem 0 1rem 0;
  }

  .rating-submit-button {
    padding: 1rem 1.5rem;
  }

  #productRelatedDiv {
    margin-bottom: 2rem;
  }

  .productShownDiv {
    margin-bottom: 1rem;
  }

  .productShownText {
    font-size: var(--12px);
  }

  .productTexts {
    font-size: var(--12px);
  }

  .productIcons {
    font-size: var(--12px);
  }

  .productFilterTexts {
    font-size: var(--12px);
    padding: 0.35rem 4rem 0.35rem 0.75rem;
  }

  .product-shown-default-text {
    font-size: var(--12px);
    margin: 1rem 0;
  }

  .productInnerDivs {
    padding: 0.75rem 0;
    margin-top: 0.5rem;
  }

  .productNavigationDiv {
    gap: 0 1rem;
  }

  .productNavigationText {
    font-size: var(--12px);
  }

  .navigation-text {
    padding: 0 0.25rem 0.10rem 0.25rem;
  }

  #productFilterOptionsMain {
    width: 100%;
    padding-bottom: 3rem;
  }

  .productFilterMainDivs {
    padding: 2rem;
  }

  #filterHeaderText {
    font-size: var(--20px);
  }

  .productFilterText {
    margin-bottom: 1rem;
    font-size: var(--16px);
  }

  .productFilterSections {
    gap: 0.75rem 0;
  }

  .productFilterDivs {
    gap: 0 0.5rem;
  }

  .filterTextsLength {
    gap: 0 0.15rem;
    font-size: var(--12px);
  }

  #filterPriceInnerDiv {
    margin-top: 2.5rem;
  }

  .filterPriceValueTexts {
    font-size: var(--12px);
  }

  .filterColorInnerDivs {
    height: 1.25rem;
    width: 1.25rem;
  }

  #productFilterFooter {
    padding: 2rem;
    width: 100%;
  }
}





@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --16px: 1rem;
    --24px: 1.5rem;
    --32px: 2rem;
  }

  #product-loading-section {
    grid-template-columns: 1fr 1fr;
    gap: 3.5rem;
  }

  .product-loading-main {
    gap: 1.75rem 0;
  }

  .product-loading-image {
    height: 27.5rem;
  }

  .product-loading-name {
    height: 1.5rem;
    width: 12.5rem;
  }

  .product-loading-price {
    height: 1rem;
    width: 8rem;
  }

  #product-loading-navigation-section {
    gap: 0 1.5rem;
  }

  #product-loading-navigation {
    width: 1.25rem;
    height: 1.25rem;
  }

  #page-navigation-loading-section {
    gap: 0 1rem;
  }

  .page-navigation-loading-main {
    gap: 0 1rem;
  }

  .page-navigation-loading-text {
    height: 1.15rem;
    width: 5rem;
  }

  .page-navigation-loading-arrow {
    height: 1rem;
    width: 1rem;
  }

  #review-loading-main {
    margin-top: 3.5rem;
  }

  #review-loading-images-section {
    grid-template-columns: 20% 78.5%;
    height: 55vh;
    gap: 0 0.5rem;
  }

  #review-loading-images-grid {
    gap: 0.5rem 0;
  }

  #review-loading-details-section {
    margin-top: 3rem;
  }

  #review-loading-details-product-name {
    height: 2rem;
    width: 22.5rem;
  }

  #review-loading-details-price {
    height: 1rem;
    width: 12.5rem;
    margin: 1.5rem 0;
  }

  #review-loading-details-ratings {
    height: 0.85rem;
    width: 15rem;
  }

  #review-loading-details-description {
    height: 5rem;
    margin: 1.75rem 0 2.5rem 0;
  }

  .review-loading-details-inner-section {
    padding: 1.75rem 0;
    gap: 1.25rem 0;
  }

  #review-loading-details-status-text {
    height: 1rem;
    width: 17.5rem;
  }

  #review-loading-details-status-bar {
    height: 0.5rem;
  }

  #review-loading-color-text {
    height: 1rem;
    width: 6rem;
  }

  #review-loading-color-section {
    gap: 0 1.5rem;
  }

  .review-loading-topic-text {
    height: 1rem;
    width: 6rem;
  }

  #review-loading-size-section {
    display: flex;
    gap: 0 1.5rem;
  }

  .review-loading-size {
    width: 3.25rem;
    height: 3.25rem;
  }

  #review-loading-cart-section {
    gap: 0 1.5rem;
  }

  #review-loading-cart-quantity {
    height: 4rem;
    width: 5.5rem;
  }

  #review-loading-cart-button {
    height: 4rem;
    width: 9rem;
  }

  #review-loading-wishlist-section {
    gap: 0 0.75rem;
  }

  #review-loading-wishlist-icon {
    height: 1.25rem;
    width: 1.25rem;
  }

  #review-loading-wishlist-text {
    height: 1.25rem;
    width: 8.5rem;
  }

  #review-loading-delivery-section {
    margin-top: 2rem;
    justify-content: space-between;
  }

  .review-loading-delivery-main {
    gap: 1rem 0;
  }

  .review-loading-delivery-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .review-loading-delivery-text {
    height: 2.5rem;
    width: 12.5rem;
  }

  #review-loading-payment-section {
    height: 12.5rem;
    margin: 2.5rem 0;
  }

  #review-loading-sku {
    height: 1.25rem;
    width: 8rem;
  }

  #review-loading-category {
    height: 1.25rem;
    width: 17.5rem;
    margin: 1.5rem 0 2rem 0;
  }

  #review-loading-handle-section {
    gap: 0 1.25rem;
  }

  .review-loading-handle-icon {
    height: 1.75rem;
    width: 1.75rem;
  }

  #review-loading-product-description-section {
    margin-top: 5rem;
    gap: 2rem 0;
    padding-bottom: 6rem;
  }

  #review-loading-product-description-navigation-section {
    padding-bottom: 1rem;
    gap: 0 8.5rem;
  }

  .review-loading-product-description-navigation-text {
    height: 1.25rem;
    width: 7rem;
  }

  #review-loading-product-description {
    height: 17.5rem;
  }

  #review-loading-related-section {
    gap: 3.5rem 0;
    margin: 5rem 0;
  }

  #review-loading-related-topic {
    height: 1.75rem;
    width: 15rem;
  }

  #product-loading-main-display {
    gap: 2rem 0;
    margin-top: 3.5rem;
  }

  #product-loading-filter-count {
    height: 1rem;
    width: 15rem;
  }

  #product-loading-filter-option {
    height: 1rem;
    width: 11rem;
  }

  #display-loading-filter {
    gap: 0.85rem;
  }

  #display-loading-filter-icon {
    height: 1.25rem;
    width: 1.25rem;
  }

  #display-loading-filter-text {
    height: 1.25rem;
    width: 6rem;
  }

  .otherPages {
    padding: 1.75rem;
  }

  .productMains {
    margin-top: 3rem;
  }

  #productReviewImages {
    gap: 0 0.5rem;
  }

  #productSideImages {
    gap: 0.5rem 0;
  }

  .productSizeListStyle {
    padding: 0.35rem;
  }

  #productReviewDiv {
    margin: 2.5rem 0 5rem 0;
  }

  .productDetailName {
    font-size: var(--32px);
    margin-bottom: 0.5rem;
  }

  #productDetailReview {
    margin: 1rem 0;
  }

  .productPrepText {
    margin-bottom: 1rem;
  }

  .productPrepDiv {
    padding: 0.25rem;
  }

  .productToCart {
    gap: 0 1.5rem;
  }

  .productToCartButton {
    padding: 0 1.25rem;
  }

  #productDelivery {
    margin-top: 2rem;
  }

  #productDeliveryInfo {
    gap: 0 5rem;
  }

  .productDeliveryDetails {
    margin: 1.5rem 0;
  }

  #productHandles {
    gap: 0 1rem;
  }

  #productAbout {
    padding-bottom: 6rem;
  }

  #productAboutMain {
    gap: 0 10rem;
  }

  .about-main-text {
    font-size: var(--32px);
  }

  #productRelatedText {
    margin: 6rem 0 4rem 0;
    font-size: var(--32px);
  }

  #productViewMain {
    width: 57.5%;
  }

  #productViewInnerMain {
    height: 90vh;
  }

  #productViewImageDiv {
    height: 30rem;
  }

  .product-view-price {
    margin-bottom: 1rem;
  }

  .productFilterSection {
    grid-template-columns: 1fr 1fr;
  }

  #productFilterOptionsMain {
    width: 50%;
    padding-bottom: 4.5rem;
  }

  #filterHeaderText {
    font-size: var(--32px);
  }

  .productFilterText {
    margin-bottom: 1.5rem;
    font-size: var(--24px);
  }

  #filterPriceInnerDiv {
    margin-top: 3.5rem;
  }

  #productFilterFooter {
    width: 50%;
  }
}





@media all and (min-width: 1024px) {
  :root {
    --16px: 1rem;
    --20px: 1.25rem;
    --24px: 1.5rem;
  }

  #product-loading-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3.5rem;
  }

  .product-loading-main {
    gap: 1.5rem 0;
  }

  .product-loading-image {
    height: 22.5rem;
  }

  .product-loading-name {
    height: 1.25rem;
    width: 12.5rem;
  }

  .product-loading-price {
    height: 0.85rem;
    width: 8rem;
  }

  #product-loading-navigation-section {
    gap: 0 1rem;
  }

  #product-loading-navigation {
    width: 1.25rem;
    height: 1.25rem;
  }

  #page-navigation-loading-section {
    gap: 0 1rem;
  }

  .page-navigation-loading-main {
    gap: 0 1rem;
  }

  .page-navigation-loading-text {
    height: 1.25rem;
    width: 5rem;
  }

  .page-navigation-loading-arrow {
    height: 1rem;
    width: 1rem;
  }

  #review-loading-main {
    height: 75vh;
    display: grid;
    grid-template-columns: 45% 50%;
    grid-template-rows: 1fr;
    gap: 0 6rem;
    margin-top: 5rem;
  }

  #review-loading-images-section {
    gap: 0 2rem;
  }

  #review-loading-images-grid {
    gap: 1rem 0;
  }

  #review-loading-details-section {
    overflow-y: auto;
    padding-right: 2rem;
  }

  #review-loading-details-section::-webkit-scrollbar {
    display: none;
  }

  #review-loading-details-product-name {
    height: 1.5rem;
    width: 20rem;
  }

  #review-loading-details-price {
    height: 1.25rem;
    width: 12rem;
    margin: 1.5rem 0;
  }

  #review-loading-details-ratings {
    height: 1.25rem;
    width: 15rem;
  }

  #review-loading-details-description {
    height: 4.25rem;
    margin: 1.5rem 0;
  }

  .review-loading-details-inner-section {
    padding: 1.5rem 0;
    gap: 1rem 0;
  }

  #review-loading-details-status-text {
    height: 1.25rem;
    width: 25rem;
  }

  #review-loading-details-status-bar {
    height: 0.5rem;
  }

  #review-loading-color-text {
    height: 1.25rem;
    width: 10rem;
  }

  #review-loading-color-section {
    gap: 0 3rem;
  }

  .review-loading-topic-text {
    height: 1.25rem;
    width: 6rem;
  }

  #review-loading-size-section {
    display: flex;
    gap: 0 2rem;
  }

  .review-loading-size {
    width: 3rem;
    height: 3rem;
  }

  #review-loading-cart-section {
    gap: 0 0.75rem;
  }

  #review-loading-cart-quantity {
    height: 3.5rem;
    width: 5.5rem;
  }

  #review-loading-cart-button {
    height: 3.5rem;
    width: 10rem;
  }

  #review-loading-wishlist-section {
    gap: 0 0.5rem;
  }

  #review-loading-wishlist-icon {
    height: 1.25rem;
    width: 1.25rem;
  }

  #review-loading-wishlist-text {
    height: 1.25rem;
    width: 9rem;
  }

  #review-loading-delivery-section {
    margin-top: 2.5rem;
    justify-content: space-between;
  }

  .review-loading-delivery-main {
    gap: 1rem 0;
  }

  .review-loading-delivery-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .review-loading-delivery-text {
    height: 4.25rem;
    width: 11rem;
  }

  #review-loading-payment-section {
    height: 10rem;
    margin: 2rem 0 2.5rem 0;
  }

  #review-loading-sku {
    height: 1.5rem;
    width: 10rem;
  }

  #review-loading-category {
    height: 1.5rem;
    width: 17.5rem;
    margin: 1rem 0 2rem 0;
  }

  #review-loading-handle-section {
    gap: 0 1.5rem;
  }

  .review-loading-handle-icon {
    height: 2rem;
    width: 2rem;
  }

  #review-loading-product-description-section {
    margin-top: 5rem;
    gap: 2rem 0;
    padding-bottom: 6rem;
  }

  #review-loading-product-description-navigation-section {
    padding-bottom: 1rem;
    gap: 0 6rem;
  }

  .review-loading-product-description-navigation-text {
    height: 1.25rem;
    width: 6rem;
  }

  #review-loading-product-description {
    height: 12rem;
  }

  #review-loading-related-section {
    gap: 2.5rem 0;
    margin: 5rem 0;
  }

  #review-loading-related-topic {
    height: 1.25rem;
    width: 12rem;
  }

  #product-loading-main-display {
    gap: 3rem 0;
    margin-top: 4rem;
  }

  #product-loading-filter-count {
    height: 1.25rem;
    width: 15rem;
  }

  #product-loading-filter-option {
    height: 1.25rem;
    width: 10rem;
  }

  #display-loading-filter {
    gap: 0.85rem;
  }

  #display-loading-filter-icon {
    height: 1.25rem;
    width: 1.25rem;
  }

  #display-loading-filter-text {
    height: 1.25rem;
    width: 6rem;
  }

  .otherPages {
    padding: 1.5rem;
  }

  .productMains {
    margin-top: 4rem;
  }

  #productReviewMain {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 5rem;
  }

  #productReviewImages {
    gap: 0 0.75rem;
  }

  #productSideImages {
    gap: 0.75rem 0;
  }

  .productSizeListStyle {
    padding: 0.5rem;
  }

  #productReviewDiv {
    overflow-y: auto;
    height: 40rem;
  }

  #productReviewDiv::-webkit-scrollbar {
    display: none;
  }

  .productDetailName {
    font-size: var(--24px);
    margin-bottom: 0.75rem;
  }

  #productDetailReview {
    margin: 1.25rem 0;
  }

  .productPrepText {
    margin-bottom: 0.75rem;
  }

  .productPrepDiv {
    padding: 0.20rem;
  }

  .productToCart {
    gap: 0 1.25rem;
  }

  .productToCartButton {
    padding: 0 1.5rem;
  }

  #productDelivery {
    margin-top: 2.5rem;
  }

  #productDeliveryInfo {
    gap: 0 7.5rem;
  }

  .productDeliveryDetails {
    margin: 2rem 0;
  }

  #productHandles {
    gap: 0 1.25rem;
  }

  #productAbout {
    padding-bottom: 5rem;
  }

  #productAboutMain {
    gap: 0 7.5rem;
  }

  .about-main-text {
    font-size: var(--24px);
  }

  #productRelatedText {
    font-size: var(--24px);
    margin: 5rem 0 3rem 0;
  }

  #productViewMain {
    width: 70%;
  }

  #productViewInnerMain {
    height: fit-content;
  }

  #productViewInnerMain {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #productViewMainDiv::-webkit-scrollbar {
    width: 2px;
  }

  #productViewMainDiv::-webkit-scrollbar-track {
    background-color: white;
  }

  #productViewMainDiv::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--9B9B9B);
  }

  #productViewMainDiv {
    height: 55vh;
    overflow-y: auto;
    overscroll-behavior-y: contain;
  }

  .product-view-price {
    margin-bottom: 1.25rem;
  }

  #productColorView {
    display: none;
  }

  #productSizeView {
    display: none;
  }

  #productDeliveryDetailsView {
    display: none;
  }

  .productFilterSection {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #productFilterOptionsMain {
    width: 30%;
    padding-bottom: 5rem;
  }

  #filterHeaderText {
    font-size: var(--24px);
  }

  .productFilterText {
    margin-bottom: 1rem;
    font-size: var(--20px);
  }

  #filterPriceInnerDiv {
    margin-top: 2.5rem;
  }

  #productFilterFooter {
    width: 30%;
  }
}