/* Styling for the wishlist page */
.wishlist-main {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: fit-content;
}

#wishlist-loading-header {
  background-color: var(--282828);
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wishlist-loading-topic {
  width: 6rem;
  height: 1.25rem;
}

#wishlist-loading-cancel-icon {
  height: 1.25rem;
  width: 1.25rem;
}

#wishlist-loading-section {
  flex-grow: 1;
  padding: 1.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
}

.wishlist-loading-item-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #EBEBEB;
  padding-bottom: 1.5rem;
}

.wishlist-loading-item-main:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.wishlist-loading-details-section {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.wishlist-loading-item-cancel-icon {
  height: 1.25rem;
  width: 1.25rem;
}

.wishlist-loading-item-image {
  width: 5rem;
  height: 7rem;
}

.wishlist-loading-item-details {
  width: 10rem;
  height: 5rem;
}

.wishlist-loading-item-order-options {
  width: 9rem;
  height: 9rem;
}

#wishlist-loading-footer {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #EBEBEB;
}

.wishlist-loading-footer-text {
  height: 1.25rem;
  width: 12rem;
}

#wishlist-loading-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 4rem;
  table-layout: fixed;
}

.wishlist-loading-table-row {
  border-bottom: 2px solid #EBEBEB;
}

.wishlist-loading-table-row:last-child {
  border-bottom: none;
}

.wishlist-loading-table-head, .wishlist-loading-table-data {
  padding: 1.5rem 0;
}

.wishlist-loading-table-topic {
  height: 1.25rem;
  width: 6rem;
  margin: 0 auto;
}

.wishlist-loading-table-data-details {
  display: flex;
  align-items: center;
  gap: 0 1.5rem;
}

.wishlist-loading-table-item-cancel-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.wishlist-loading-table-item-image {
  height: 7rem;
  width: 5rem;
}

.wishlist-loading-table-item-details {
  height: 3rem;
  width: 12rem;
}

.wishlist-loading-table-item-price {
  height: 1rem;
  width: 10rem;
  margin: 0 auto;
}

.wishlist-loading-table-item-status {
  height: 0.85rem;
  width: 5rem;
  margin: 0 auto;
}

.wishlist-loading-table-item-button {
  height: 3rem;
  width: 11rem;
  margin: 0 auto;
}

#wishlist-loading-handle-section {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 0 3rem;
} 

.wishlist-loading-handle-main {
  display: flex;
  align-items: center;
  gap: 0 0.75rem;
}

.wishlist-loading-handle-icon {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100% !important;
}

.wishlist-loading-handle-text {
  height: 1rem;
  width: 5rem;
}

.wishListContainers {
  width: 100%;
}

.wishlistInnerContainers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wishlistHeaderDiv {
  background-color: var(--282828);
}

#wishListText {
  font-weight: bold;
  font-family: var(--font-yantramanav);
  color: white;
}

#wishListCanIcon {
  color: var(--9B9B9B);
  cursor: pointer;
}

#wishListItemSection {
  flex-grow: 1;
  overflow-y: auto;
}

#wishListItemSection::-webkit-scrollbar {
  width: 8px;
}

#wishListItemSection::-webkit-scrollbar-track {
  background-color: white;
}

#wishListItemSection::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--9B9B9B);
  border: 2px solid transparent;
  background-clip: content-box;
}

#wishlistInfoText {
  color: white;
  font-family: var(--font-yantramanav);
  text-align: center;
}

.wishListDiv {
  display: grid;
  align-items: center;
  border-bottom: 0.5px solid var(--9B9B9B);
}

.wishListDiv:last-child {
  border-bottom: none;
}

.wishlist-icon-image-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delWishListIcon {
  color: var(--222222);
  cursor: pointer;
}

.wishListDetails {
  word-break: keep-all;
}

.wishListName {
  cursor: pointer;
  text-transform: capitalize;
}

.wishListPrice {
  margin: 0.25rem 0;
}

.wishListAvailMain {
  border-bottom: 1px solid var(--9B9B9B);
}

.defaultText {
  font-family: var(--font-yantramanav);
  color: var(--222222);
}

#wishListLinkDiv {
  background-color: white;
}

.wishListTexts {
  font-family: var(--font-yantramanav);
  color: var(--222222);
  word-break: keep-all;
}








.wishlistCartDiv {
  border-bottom: 1px solid var(--F3F2ED);
}

.wishlistCartDeleteIcon {
  cursor: pointer;
}

.wishlistCartDiv:first-child {
  border-top: 1px solid var(--F3F2ED);
}

.wishlistCartImageNameDiv {
  display: flex;
}

.wishlistCartName {
  color: var(--222222);
  font-family: var(--font-roboto);
  text-transform: capitalize;
}

.wishlistDate {
  color: var(--282828);
  font-family: var(--font-roboto);
}

.wishlistCartPriceText {
  color: var(--222222);
  font-family: var(--font-roboto);
}

.wishlistCartPriceValue {
  color: var(--282828);
  font-family: var(--font-roboto);
}

.wishlistStatusText {
  font-family: var(--font-roboto);
  color: var(--222222);
}

.wishlistStatus {
  color: var(--282828);
  font-family: var(--font-roboto);
}

.wishlistToCartBtn {
  background-color: var(--222222);
  color: #FFFFFF;
  font-family: var(--font-roboto);
  border: none;
  cursor: pointer;
}

#wishlistHandleShare {
  display: flex;
}

.wishlistHandleDiv {
  display: flex;
  align-items: center;
}

.wishlistHandleText {
  color: var(--222222);
  font-family: var(--font-roboto);
  user-select: none;
}








@media all and (max-width: 1023px) {
  .product-wishlist-cart-topics {
    display: none;
  }

  .wishlistCartIconImageTextDiv {
    position: relative;
  }

  .wishlistCartDeleteIcon {
    position: absolute;
  }

  .wishlistCartPriceValueDiv {
    display: flex;
    justify-content: space-between;
  }

  .wishlistStatusDiv {
    display: flex;
    justify-content: space-between;
  }

  .wishlistToCartDiv {
    display: flex;
    justify-content: flex-end;
  }
}










/* Styling for tab and desktop */
@media all and (min-width: 768px) {
  .wishlist-main {
    left: 0;
    right: 0;
  }

  .wishListContainers {
    font-size: var(--16px);
  }

  .wishlistInnerContainers {
    padding: 1.25rem 1.5rem;
  }

  #wishlistInfoText {
    padding: 0.5rem 0;
  }

  #wishListItemSection {
    padding: 0.25rem 1.5rem;
  }

  .delWishListIcon {
    font-size: var(--16px);
  }

  .wishListImage {
    height: 7rem;
    width: 5rem;
  }

  .wishListTexts {
    font-size: var(--16px);
  }

  .wishListAvailMain {
    margin: 0 1rem 1rem 0;
  }

  .wishListAvailBar {
    padding: 0.20rem;
    margin: 0.5rem 0 1rem 0;
  }

  .defaultText {
    font-size: var(--16px);
  }

  .wishlistCartDeleteIcon {
    font-size: var(--16px);
  }

  .wishlistCartImageNameDiv {
    gap: 0 1.5rem;
  }

  .wishlistCartMainImage {
    height: 7rem;
    width: 5rem;
  }

  .wishlistCartName {
    font-size: var(--16px);
  }

  .wishlistDate {
    font-size: var(--12px);
  }

  .wishlistCartPriceValue {
    font-size: var(--12px);
  }

  .wishlistStatus {
    font-size: var(--12px);
  }

  .wishlistToCartBtn {
    font-size: var(--16px);
    padding: 1rem 1.75rem;
  }

  #wishlistHandleShare {
    gap: 0 3rem;
    padding: 2rem 0;
  }

  .wishlistHandleDiv {
    gap: 0 0.75rem;
  }

  .wislistHandleShareImg {
    font-size: var(--24px);
  }

  .wishlistHandleText {
    font-size: var(--16px);
  }
}





/* Styling for mobile alone */
@media all and (max-width: 767px) {
  :root {
    --12px: 0.75rem;
    --16px: 1rem;
  }

  .wishlist-main {
    width: 100%;
  }

  .wishListContainers {
    font-size: var(--12px);
  }

  .wishlistInnerContainers {
    padding: 1rem;
  }

  #wishListCanIcon {
    font-size: var(--16px);
  }

  #wishlistInfoText {
    padding: 0.25rem 0;
  }

  #wishListItemSection {
    padding: 0.25rem 1rem;
  }

  .wishListDiv {
    grid-template-columns: 20% auto 36%;
    gap: 0 0.75rem;
    padding: 0.75rem 0;
  }

  .delWishListIcon {
    font-size: var(--12px);
  }

  .wishListImage {
    height: 4rem;
    width: 3rem;
  }

  .wishListTexts {
    font-size: var(--12px);
  }

  .wishListAvailMain {
    margin: 0 1rem 0.5rem 0;
  }

  .wishListAvailBar {
    padding: 0.15rem;
    margin: 0.25rem 0 0.5rem 0;
  }

  .defaultText {
    font-size: var(--12px);
  }

  .productWishlistCartMain {
    margin-top: 1.5rem;
  }

  .wishlistCartDiv {
    padding: 0.75rem 0;
  }

  .wishlistCartDeleteIcon {
    left: 0.25rem;
    top: 0.15rem;
    font-size: var(--12px);
  }

  .wishlistCartImageNameDiv {
    gap: 0 1rem;
  }

  .wishlistCartMainImage {
    height: 4rem;
    width: 3rem;
  }

  .wishlistCartName {
    font-size: var(--12px);
  }

  .wishlistDate {
    font-size: var(--8px);
  }

  .wishlistCartPriceValueDiv {
    padding: 0.5rem 0;
  }

  .wishlistCartPriceText {
    font-size: var(--12px);
  }

  .wishlistCartPriceValue {
    font-size: var(--8px);
  }

  .wishlistStatusDiv {
    padding: 0.5rem 0;
  }

  .wishlistStatusText {
    font-size: var(--12px);
  }

  .wishlistStatus {
    font-size: var(--8px);
  }

  .wishlistToCartBtn {
    font-size: var(--12px);
    padding: 0.75rem 1.25rem;
  }

  #wishlistHandleShare {
    gap: 0 2rem;
    padding: 1rem 0;
  }

  .wishlistHandleDiv {
    gap: 0 0.5rem;
  }

  .wislistHandleShareImg {
    font-size: var(--20px);
  }

  .wishlistHandleText {
    font-size: var(--12px);
  }
}





/* Styling for tab alone */
@media all and (min-width: 768px) and (max-width: 1023px) {
  :root {
    --24px: 1.5rem;
  }

  .wishlist-main {
    width: 60%;
  }

  #wishListCanIcon {
    font-size: var(--24px);
  }

  .wishListDiv {
    grid-template-columns: 22% auto 37.5%;
    gap: 0 1.5rem;
    padding: 1rem 0;
  }

  .productWishlistCartMain {
    margin-top: 2rem;
  }

  .wishlistCartDiv {
    padding: 1rem 0;
  }

  .wishlistCartDeleteIcon {
    left: 0.5rem;
    top: 0.5rem;
  }

  .wishlistCartPriceValueDiv {
    padding: 1rem 0;
  }

  .wishlistCartPriceText {
    font-size: var(--16px);
  }

  .wishlistStatusDiv {
    padding: 1rem 0;
  }

  .wishlistStatusText {
    font-size: var(--16px);
  }
}





/* Styling for desktop alone */
@media all and (min-width: 1024px) {
  :root {
    --20px: 1.5rem;
  }

  .wishlist-main {
    width: 35%;
  }

  #wishListCanIcon {
    font-size: var(--20px);
  }

  .wishListDiv {
    grid-template-columns: 22% auto 35%;
    gap: 0 1rem;
    padding: 1.25rem 0;
  }

  .productWishlistCartMain {
    margin-top: 4rem;
  }

  .product-wishlist-cart-topics {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding-bottom: 0.75rem;
  }

  .wishlistCartTopicTexts {
    font-size: var(--16px);
    font-family: var(--font-roboto);
    color: var(--1B1A1A);
    justify-self: center;
  }

  .wishlistCartDiv {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    padding: 2rem 0;
  }

  .wishlistCartPriceValueDiv {
    justify-self: center;
  }

  .wishlistStatusDiv {
    justify-self: center;
  }

  .wishlistToCartDiv {
    justify-self: flex-end;
  }

  .wishlistCartIconImageTextDiv {
    display: flex;
    align-items: center;
    gap: 0 1.5rem;
  }

  .wishlistCartImageNameDiv {
    align-items: center;
  }

  .wishlistCartPriceText {
    display: none;
  }

  .wishlistStatusText {
    display: none;
  }

  .desktop-center {
    justify-content: center;
  }
}