@import url('../styles/home.css');
@import url('../styles/product.css');
@import url('../styles/account.css');
@import url('../styles/search.css');
@import url('../styles/wishlist.css');
@import url('../styles/cart.css');
@import url('../styles/collection.css');
@import url('../styles/post.css');
@import url('../styles/admin.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body:has(#searchSection) {
  overflow-y: hidden;
}

.loading-background-animation {
  background: linear-gradient(90deg, #EBEBEB 25%, #F5F5F5 50%, #EBEBEB 75%);
  background-size: 200% 100%;
  border-radius: 0.25rem;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

:root {
  --12px: 0.75rem;
  --8px: 0.5rem;
  --16px: 1rem;
  --20px: 1.25rem;
  --24px: 1.5rem;
  --32px: 2rem;
  --616161: #616161;
  --282828: #282828;
  --1B1A1A: #1B1A1A;
  --222222: #222222;
  --9B9B9B: #9B9B9B;
  --F3F2ED: #F3F2ED;
  --FFFF00: #FFFF00;
}